/* General styles */

body {
	padding-top: 105px;
	font-family: raleway;
	font-size: 1.1rem;
	line-height: 2rem;
}
h1 {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h2 {
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #943481;
}
h3 {
	font-size: 20px;
	line-height: 30px;
}
.txtverde {
	color: #3eae8b;
}
.txtbig {
	font-size: 20px;
	color: #943481;
	margin-top: 20px;
}
.txtsmall {
	font-size: 0.9rem;
	line-height: 1.7rem;
}
.btn-green {
	background-color: #3eaf8c;
	color: white;
}
.icons {
	font-size: 50px;
	color:#3eaf8c;
}
.sections {
	margin-top: 60px;
}
.aside {
	background-color: #e9ecef;
	padding: 20px;
}
.jumbotron{
	margin-top: 50px;
	margin-bottom: 0;
}

/* Styles Navbar */

.nav-home {
	background-color: #ffffff;
	padding: 0;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	font-size: 1rem;
}
.nav-home.navbar-brand a:hover {
	background-color: #008ccc;
}
.nav-home a {
	color: #943481;
	margin-left: 50px;
}
.nav-home a:hover {
	color: #3eaf8c;
}
.nav-item {
	height: 120px;
	padding-top: 46px;
}
.nav-item.nav-link.active {
	background-color: #3eaf8c;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-toggler.bg-custom {
    background-color: #943481;
}
.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: none;
}

/* Styles Home */

.banner-home {
	background-size: 100%;
}

.carousel-image-home {
	background-image: url(../img/Aventurera.jpg);
	background-size: cover;
	background-position: right;
}
@media only screen and (min-width: 320px) {
  .carousel-image-home {
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  .carousel-image-home {
    height: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .carousel-image-home {
    height: 600px;
  }
}

.carousel-caption {
	bottom: 50%;
	transform: translateY(50%);
}

.d-md-block {
	background-color: rgba(148, 52, 129, 0.9);
	padding: 35px 25px 25px 30px;
	color: white;
	text-align: left;
}
@media only screen and (min-width: 320px) {
  .d-md-block {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .d-md-block {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .d-md-block {
    width: 500px;
  }
}

/* Styles Productos */

.galeria-productos-verde {
	background-color: rgba(62, 174, 139, 0.15);
	width: 440px;
	height: 440px;
}
.galeria-productos-rosa {
	background-color: rgba(148, 52, 129, 0.15);
	width: 440px;
	height: 440px;
}

/* Styles Contact */

.contact {
	margin-bottom: 50px;
}

@media only screen and (max-width: 480px) {
	.google-maps iframe {
		max-width: 95%;
	}
}

/* Styles Footer */
.footer {
	color: white;
	padding: 30px;
	background-color: #943481;
	text-align: right;
}
.social-media {
	height: 50px;
	width: 100px;
	margin-top: 40px;
}